<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user_info.verify_correct %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'new_trip_idea' }}" href="{{ url_for('new_trip_idea') }}">New trip</a>
          </li>
          {% endif %}
          {% if user_info.verify_correct and not user_info.is_admin %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'trips' }}" href="{{ url_for('trips') }}">Trips</a>
          </li>
          {% endif %}
          {% if user_info.verify_correct and user_info.is_admin %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'trips' }}" href="{{ url_for('trips') }}">All trips</a>
          </li>
          {% endif %}
          {% if user_info.is_admin %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {{ 'active' if active_menu == 'users' }}" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expended="false">
              Users
            </a>
            <ul class="dropdown-menu aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('users') }}">Users</a></li>
            </ul>
          </li>
          {% endif %}
          {% if user_info.verify_correct and not user_info.is_admin %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'edit_account' }}" href="{{ url_for('edit_account') }}">Edit account</a>
          </li>
          {% endif %}
          {% if not user_info.verify_correct %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_menu == 'login' }}" href="{{ url_for('login') }}" tabindex="-1">Login/Registration</a>
          </li>
          {% endif %}
          {% if user_info.verify_correct %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}" tabindex="-1">Logout {{ user_info.name }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>